.page-header
  %h1
    Sortable docs for any Ruby project

%p
  Create the perfect docs for any Ruby project by picking exactly the versions you need.

= form_for @doc_collection, html: { class: 'form-horizontal', role: 'form' } do |f|

  .row
    = f.fields_for :docs do |doc_fields|
      = doc_fields.hidden_field :project_id
      .col-md-4
        .panel.panel-default
          .panel-heading
            .pull-right
              = doc_fields.label :include, 'include?'
              = doc_fields.check_box :include
            %h3.panel-title
              = doc_fields.object.project.name.humanize
          .panel-body
            .form-group
              = doc_fields.label :tag, 'Version', class: 'col-lg-3 control-label'
              .col-lg-6
                = doc_fields.select :tag, options_for_select(doc_fields.object.project.tags.reverse), {}, class: 'form-control'

  = submit_tag 'Generate docs', class: 'btn btn-primary btn-lg', data: { :'loading-text' => 'Please wait...' }
