.page-header
  %h1
    = t :tagline
  %p.lead
    Fast, free, searchable, versioned, on- and offline
  %p
    = link_to '#', data: { toggle: 'modal', target: '#add-project' }, class: 'btn btn-success' do
      = fa_icon 'plus-circle'
      Add project
    = link_to '#', data: { toggle: 'modal', target: '#combined-docs' }, class: 'btn btn-default' do
      = fa_icon 'hand-peace-o'
      Combined Ruby and Rails docs

#add-project.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          Add project
      .modal-body
        %p
          To add your own (or someone else's) project to RubyDocs, the code must be publicly accessible via Git (GitHub, Bitbucket, etc.) and it must be versioned using Git tags. Once it's added, the docs for each tag will be generated on-demand (docs for the latest tag are generated automatically).
        %p
          Please add the project info below and I will add it to RubyDocs asap! :)
        %p
          If you have any questions,
          = mail_to ENV.fetch('MAIL_FROM'), 'let me know!'
        = form_tag 'https://formspree.io/f/mqkgnayq', target: '_blank' do
          .form-group
            = text_field_tag 'name', nil, class: 'form-control', required: true, placeholder: 'Your name'
          .form-group
            = email_field_tag 'email', nil, class: 'form-control', required: true, placeholder: 'Your email'
          .form-group
            = text_field_tag 'git', nil, class: 'form-control', required: true, placeholder: 'Project Git URL'
          .form-group
            = text_area_tag 'links', nil, class: 'form-control', placeholder: 'Project links (Website, GitHub, RubyGems.org, other docs, etc.)'
          .form-group
            = text_area_tag 'comments', nil, class: 'form-control', placeholder: 'Anything else you want to add? :)'
          = button_tag type: 'submit', class: 'btn btn-primary', data: { loading: 'Please wait...' } do
            = fa_icon 'paper-plane-o'
            Submit
        .note.note-confirm
          = fa_icon 'thumbs-o-up'
          Thanks! Please confirm your submission in the new window/tab!
          %br
          I'll add your project to RubyDocs as soon as possible and let you know via email.

#combined-docs.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          Combined Ruby and Rails docs
      .modal-body
        %p
          Browse the docs for Ruby and Rails simultaneously with exactly the versions you need.
        = form_for @combined_doc_collection do |f|
          = f.fields_for :docs do |doc_fields|
            .panel.panel-default
              .panel-heading
                %h3.panel-title
                  = doc_fields.object.project.name
              .panel-body
                .row
                  .col-sm-6
                    = render 'docs/form_fields', form: doc_fields
                  .col-sm-6
                    = pluralize doc_fields.object.project.tags.size, 'version'
                    indexed
          = render 'docs/form_actions', form: f

= form_tag '#', id: 'project-search' do
  = text_field_tag 'search', nil, class: 'form-control input-lg', placeholder: "Search in #{number_with_delimiter @single_doc_collections.size} projects...", autofocus: true

.projects
  - @single_doc_collections.each do |doc_collection|
    - project = doc_collection.docs.first.project
    .project.panel.panel-default
      .panel-heading
        %h3.project-title.panel-title
          = project.name
      .panel-body
        .row
          .col-sm-6
            = form_for doc_collection do |f|
              = f.fields_for :docs do |doc_fields|
                = render 'docs/form_fields', form: doc_fields
                - if project.tags.any?
                  = render 'docs/form_actions', form: doc_fields
          .meta.col-sm-6
            %p
              = pluralize project.tags.size, 'version'
              indexed
            - if project.links.any?
              %ul
                - project.links.each do |link|
                  %li
                    = favicon_tag link
                    = link_to link.sub(%r(\Ahttps?://(www\.)?), ''), link, target: '_blank', rel: 'nofollow'
  .not-found
    No project found.
    = link_to 'Add one now', '#', data: { toggle: 'modal', target: '#add-project' }

%hr

%h2#about
  About

%p
  A essential requirement for software developers to be able to work efficiently and "get into the zone" is quick and convenient access to documentation. I always felt Ruby and Ruby projects (and specifically Rails) were lacking in that regard. While many projects are very well documented, the visualization and access to those docs are often less than ideal.

%p
  By far the best option I found are docs based on the
  = link_to 'sdoc', 'https://github.com/zzak/sdoc', target: '_blank'
  format. They are clearly arranged, searchable, and very responsive. On top of that, the docs for multiple projects can be combined, so that one can for example search the Ruby and Rails docs simultaneously - a huge advantage when a framework and a language are so intertwined.

%p
  The problem is that developers often work on multiple projects simultaneously, and each one may be using a different Ruby and a different Rails version. Combined docs with those exact versions are a huge advantage in that case.

%p
  A big thank-you to
  = succeed ',' do
    = link_to 'Rob Cameron', 'http://ridingtheclutch.com/', target: '_blank'
  who developed the first version of this site!

%p
  For feedback, comments, feature requests etc. please use the comments below or get in touch on
  = succeed '.' do
    = link_to 'Twitter', 'https://twitter.com/manume', target: '_blank'

%hr

#credits

  %p
    Built by
    = link_to 'Manuel Meurer', 'https://manuelmeurer.com/', target: '_blank'
    with
    = fa_icon 'heart'
    for the Ruby community.
    %br
    The source code is available under the MIT license on
    = link_to 'GitHub', 'https://github.com/manuelmeurer/rubydocs'
    and bug reports, feature requests, and contributions are welcome!

  %p
    Thanks to the following companies for supporting RubyDocs!

  #sponsors
    = link_to image_tag('sponsors/cloudflare.png'), 'https://www.cloudflare.com/', rel: 'nofollow', target: '_blank'
    = link_to image_tag('sponsors/digitalocean.png'), 'https://www.digitalocean.com/', rel: 'nofollow', target: '_blank'
    = link_to image_tag('sponsors/rollbar.png'), 'https://rollbar.com/', rel: 'nofollow', target: '_blank'
    = link_to image_tag('sponsors/planio.png'), 'http://redminescanner.org/', target: '_blank'
    = link_to image_tag('sponsors/uplink.png'), 'https://uplink.tech/', target: '_blank'

%hr

#disqus_thread
:javascript
  var disqus_shortname = 'rubydocs';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
%noscript
  %p
    Please enable JavaScript to view the
    = succeed '.' do
      = link_to 'comments powered by Disqus', 'http://disqus.com/?ref_noscript', target: '_blank'
= link_to 'http://disqus.com', class: 'dsq-brlink', target: '_blank' do
  comments powered by
  %span.logo-disqus
    Disqus
