!!!

%html
  %head
    %title
      RubyDocs

    = csrf_meta_tags
    = csp_meta_tag

    %meta{ charset: "utf-8" }

    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ "http-equiv": "Content-Type",    content: "text/html; charset=utf-8" }

    %meta{ name: "viewport",                content: "width=device-width,initial-scale=1" }
    %meta{ name: "cf-2fa-verify",           content: ENV.fetch("CLOUDFLARE_2FA_VERIFY") }

    = stylesheet_link_tag :application, data: { turbo_track: "reload" }, media: "all"

    = javascript_include_tag "https://kit.fontawesome.com/0d43dadb44.js", crossorigin: "anonymous"
    = javascript_importmap_tags

    - if Rails.env.production?
      = javascript_include_tag "/qwerty/js/script.js", defer: true, data: { domain: "rubydocs.org", api: "/qwerty/api/event" }

  %body{ class: page_classes }
    = render "shared/header"
    %main.container-lg
      = flash_messages
      = yield
