!!! 5

%html

  %head
    %meta{ charset: 'utf-8' }

    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ :'http-equiv' => 'Content-Type',    content: 'text/html; charset=utf-8' }

    %meta{ name: 'viewport',                   content: 'width=device-width, initial-scale=1.0' }

    %title
      Ruby-Docs

    %link{ rel: 'shortcut icon', type: 'image/x-icon', href: image_path('favicon.ico') }

    = stylesheet_link_tag :application, media: 'all', data: { :'turbolinks-track' => true }

    = csrf_meta_tags

  %body{ id: site_id }
    = content_for :body

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
    = javascript_include_tag :application, data: { :'turbolinks-track' => true }
