- content_for :head do
  = stylesheet_link_tag :'show-doc-collection', media: 'all', data: { :'turbolinks-track' => true }

- content_for :body do
  = render 'doc_collections/menu'
  = yield
  - if Rails.env.development?
    -# For Rack Mini Profiler
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'

= render template: 'layouts/base'
